{% extends 'shab.html' %}

{% block title %}
Культовые актеры
{% endblock %}

{% block content %}

<div>
    <h1>Актеры</h1>
</div>


<div class="container">
<div class="card">
    <div class="photo">
        <img src="../static/image/Duje.jpg">
    </div>
    <div>
    <h2>Дуейн Джонсон</h2>
    <p>e-mail: <a href="mailto:jonson@example.com">jonson@example.com</a></p>
    <p>Дата рождения: 2 мая 1972 (52 года)</p>
    <p>Город: Хейвард, Калифорния, США</p>
    </div>
</div>
<div class="card">
    <div class="photo">
        <img src="../static/image/Stethem.jpg">
    </div>
    <div>
    <h2>Джейсон Стетхем</h2>
    <p>e-mail: <a href="mailto:stethem@example.com">stethem@example.com</a></p>
    <p>Дата рождения: 	26 июля 1967 (57 лет)</p>
    <p>Город: Ширброк, Болсовер, Дербишир, Англия, Великобритания</p>
    </div>
</div>
<div class="card">
    <div class="photo">
        <img id="diesel" src="../static/image/Diesel.jpg">
    </div>
    <div>
    <h2>Вин Дизель</h2>
    <p>e-mail: <a href="mailto:diesel@example.com">diesel@example.com</a></p>
    <p>Дата рождения: 	18 июля 1967 (57 лет)</p>
    <p>Город: Аламида, Калифорния, США</p>
    </div>
</div>

</div>
{% endblock %}