<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Легенды американского кинематографа</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/">Фильмы</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/actor/">Актеры</a>
  </li>
</ul>
<div>
    <h1>Культовые фильмы американского кинематографа</h1>
</div>

<div class="container">
<div class="card">
    <div class="photo">
        <img src="../static/image/Fors.jpg">
    </div>
    <div>
    <h2>Форсаж-5</h2>
    <p>Американский боевик 2011 года режиссёра Джастина Лина по сценарию Криса Моргана. Продолжение фильма «Форсаж 4» (2009), пятая часть одноимённой франшизы. Главные роли исполняют Вин Дизель, Пол Уокер, Джордана Брюстер, Тайриз Гибсон, Крис «Лудакрис» Бриджес, Мэтт Шульце, Сунг Канг, Тего Кальдерон, Дон Омар, Галь Гадот, Хоаким де Алмейда и Дуэйн Джонсон. В фильме Доминик Торетто (Дизель) и Брайан О’Коннер (Уокер) набирают команду, чтобы украсть 100 миллионов долларов у коррумпированного бизнесмена, в то время как агент Службы дипломатической безопасности США (DSS) Люк Хоббс (Джонсон) преследует их для ареста.</p>
    </div>
</div>
<div class="card">
    <div class="photo">
        <img src="../static/image/Gnew.png">
    </div>
    <div>
    <h2>Гнев человеческий</h2>
    <p>Британско-американский боевик-триллер 2021 года, двенадцатый полнометражный фильм, снятый Гаем Ричи в соавторстве с Иваном Аткинсоном и Марном Дэвисом. Он снят по мотивам французского фильма 2004 года «Инкассатор». Это четвёртая режиссёрская работа Ричи с ведущим актёром Джейсоном Стейтемом и первая после Револьвера (2005). Холт Маккэллани, Джеффри Донован, Крис Рейли[англ.], Джош Хартнетт, Лаз Алонсо, Рауль Кастильо, Деобия Опарей, Эдди Марсан и Скотт Иствуд появляются во второстепенных ролях. В фильме Эйч (Стейтем) — новый водитель инкассаторского грузовика в Лос-Анджелесе, чьё предотвращение ограбления приводит к тому, что его навыки обращения с оружием и таинственное прошлое подвергаются сомнению.</p>
    </div>
</div>
<div class="card">
    <div class="photo">
        <img src="../static/image/Jum.jpg">
    </div>
    <div>
    <h2>Джуманджи. Зов джунглей</h2>
    <p>Американский фантастико-приключенческий художественный фильм 2017 года режиссёра Джейка Кэздана, сиквел фильма «Джуманджи» (1995), основанного на одноимённой детской книге Криса ван Оллсбурга.</p>
    </div>
</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>